!!! 5
html
  head
    meta(charset='utf-8')
    title Style Sheet Editor Demo
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='styles/main.css')
  body
    block body
    // build:js scripts/main.js
    script(src='components/jquery/jquery.js')
    // endbuild
    // build:js scripts/plugins.js
    script(src='components/sass-bootstrap/js/bootstrap-carousel.js')
    script(src='components/sass-bootstrap/js/bootstrap-collapse.js')
    script(src='components/sass-bootstrap/js/bootstrap-tab.js')
    // endbuild