form.form-horizontal
  fieldset
    .control-group.thickness
      label.control-label Thickness
      .controls
        input(type="number", step="1")
        select
          option Pixels
          option Ems
    .control-group
      label.control-label Style
      .controls
        select
          option Solid
          option Dashed
    .control-group
      label.control-label Colour
      .controls
        input(type="color")