.tabbable
  ul.nav.nav-tabs
    li.active
      a(href='#settings', data-toggle="tab") Settings
    li
      a(href='#advanced', data-toggle="tab") Advanced
    li
      a(href='#imports', data-toggle="tab") Imports
  ul.tab-content
    li#settings.tab-pane.active.in
      h3 Settings
      | &hellip;
    li#advanced.tab-pane
      h3 Advanced
      | &hellip;
    li#imports.tab-pane
      h3 Imports
      | &hellip;
